body
{
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    padding: 20px;
}
#pedido {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: green;
  color: #ffff;
  font-size: 1.4rem;
}
#produtos-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    flex-wrap: wrap;
    gap: 1rem;
}
.idPerfil
{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid 1px #c0c0c0;
    width: 18rem;
    aspect-ratio: 1.7;
    padding: 10px;
    margin: 10px;
}
.cardBody
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.button
{
    border: solid 1px #0080f0;
    background-color: #0080f0;
    color: #ffffff;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
#perfil
{
    border: solid 1px #00c0f0;
    font-size: 16px;
    border-radius: 7px;
    padding: 10px;
}
.button:hover
{
    background-color: #00c0f0;
}
.headerText
{
    color: #ffffff;
}
.cardImage
{
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}
.cardText
{
    font-size: 20px;
    text-align: center;
}
header
{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0080f0;
}
.flex
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.Title
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(width <= 900px)
{
    .center
    {
        justify-content: center;
        gap: 2vh;
    }
}